* {

}

/*style for body*/

body {
	background-image: url(https://i.pinimg.com/736x/d5/b8/87/d5b887a50850c58f181e56a84e0db146.jpg), no-repeat;
}

/*style for container*/
.container{
	background-color: #4B4376;
	color: white;

}

/*style for img*/
img{
	width: 300px;
}
